body{
    background-position: center;
    background-size: cover;
}
.header{
    width: 100%;
    margin: 0px;
    font-size: large;
}
.input_class{
    margin: 5px;
    border-radius: 5px;
    width: 20%;
    color: green;
    background-color: rgb(255, 255, 255);
    border: 4px dashed grey;
}
.object_name_label{
    font-weight: bold;
    font-size: 15px;
}
canvas 
{
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    box-shadow: 5px 5px 5px rgb(25, 24, 24);
    margin-top: 50px;
    position: center;
}

p{
    color: black;
    margin-bottom: 0px;
    font-size: small;
}